@charset "UTF-8";
/* La map suivante controle si dans une carte restaurant
la case "nouveau" est affichée ou non.
le numéro correspond au numéro du restaurant. */
.MENU1 > .RESTOS_LST_VGT_IMG > .RESTOS_LST_VGT_IMG_NVU {
  display: block;
}

.MENU2 > .RESTOS_LST_VGT_IMG > .RESTOS_LST_VGT_IMG_NVU {
  display: block;
}

.MENU3 > .RESTOS_LST_VGT_IMG > .RESTOS_LST_VGT_IMG_NVU {
  display: none;
}

.MENU4 > .RESTOS_LST_VGT_IMG > .RESTOS_LST_VGT_IMG_NVU {
  display: none;
}

h1 {
  font-size: 1.7em;
}

h1, h2 {
  font-family: "Shrikhand", cursive;
}

h2 {
  font-size: 1.2em;
}

h3 {
  font-size: 1.5em;
  font-weight: bold;
  font-style: normal;
  margin-top: 0;
  margin-bottom: 8px;
}

h4 {
  font-size: 1em;
  font-weight: 300;
  color: #353535;
}

#BOUTON {
  width: fit-content;
  height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#FF79DA, #9356DC);
  color: white;
  font-weight: 400;
  padding: 16px 25px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 25px;
  box-shadow: 6px 5px 15px #939191;
}
#BOUTON:hover {
  background: linear-gradient(#fface8, #ae80e5);
  box-shadow: 6px 5px 15px #525151;
}

/* -------------------------------------------- */
body {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  width: 100%;
}

.ICN {
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  padding: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}
header h1 {
  margin: 0%;
}

#LIEU {
  background-color: #eaeaea;
  display: flex;
  font-weight: 400;
  justify-content: center;
  color: #353535;
}

#EXPLORER {
  background-color: #f6f6f6;
  height: 186px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 50px 40px;
  text-align: center;
}

/* ****************************** */
/* ********** FONCTION ********** */
/* ****************************** */
#FONCTION {
  background-color: white;
  padding: 50px 20px;
}

.F_LISTE {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.F_LISTE_VGT {
  position: relative;
  display: flex;
  height: 70px;
  align-items: center;
  background-color: #f6f6f6;
  border-radius: 25px;
  margin-left: 12px;
  padding-left: 35px;
  box-shadow: 3px 2px 21px 2px #d7d6d6;
}
.F_LISTE_VGT:hover {
  background-color: #f5edff;
}
.F_LISTE_VGT:hover :nth-child(2) {
  color: #9356DC;
}
.F_LISTE_VGT_NUM {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: -12px;
  background-color: #9356DC;
  color: white;
  border-radius: 25px;
  width: 24px;
  height: 24px;
  font-size: 0.9em;
  font-weight: 400;
}
.F_LISTE_VGT_ICN {
  width: 15px;
  font-size: 1.2em;
  color: #525151;
}
.F_LISTE_VGT_TXT {
  padding-left: 20px;
  font-size: 1em;
  font-weight: 700;
  font-stretch: condensed;
}

/* ****************************** */
/* ******** RESTAURANTS ********* */
/* ****************************** */
#RESTOS {
  background-color: #f6f6f6;
  padding: 50px 20px;
}

.RESTOS_LST_VGT {
  display: block;
  height: 250px;
  text-decoration: none;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 20px;
  box-shadow: 3px 2px 21px 2px #d7d6d6;
}

.RESTOS_LST_VGT_IMG {
  position: relative;
}
.RESTOS_LST_VGT_IMG_NVU {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: #99E2D0;
  padding: 6px 12px;
  color: #008766;
  font-weight: 400;
  font-size: 0.9em;
  border-radius: 2px;
}



.RESTOS_LST_VGT_IMG img {
  width: 100%;
  height: 170px;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}

.RESTOS_LST_VGT_INF {
  background-color: white;
  display: flex;
  justify-content: space-between;
  height: 76px;
  border-radius: 0 0 20px 20px;
  padding-right: 22px;
}

.RESTOS_LST_VGT_INF_TXT {
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 12px;
}
.RESTOS_LST_VGT_INF_TXT_NOM {
  font-weight: 700;
  padding-bottom: 2px;
  font-size: 1.1em;
}
.RESTOS_LST_VGT_INF_TXT_VIL {
  font-weight: 300;
  padding-top: 2px;
}

.RESTOS_LST_VGT_INF_COEUR {
  display: flex;
  justify-content: center;
  align-items: center;
}
.RESTOS_LST_VGT_INF_COEUR_ICN {
  width: 26px;
  height: 26px;
  position: relative;
}
.RESTOS_LST_VGT_INF_COEUR_ICN:hover > .COEUR_PLEIN {
  animation: FULLHEART 500ms cubic-bezier(1, 0.32, 1, 1) 0s 1 normal forwards;
}
.RESTOS_LST_VGT_INF_COEUR_ICN i {
  font-size: 26px;
  position: absolute;
  top: 0;
  left: 0;
}
.RESTOS_LST_VGT_INF_COEUR .COEUR_VIDE {
  color: black;
  z-index: 2;
}
.RESTOS_LST_VGT_INF_COEUR .COEUR_PLEIN {
  z-index: 0;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

/* ********************************* */
/* ************* FOOTER ************ */
/* ********************************* */
footer {
  padding: 5%;
  background-color: #353535;
  color: white;
  line-height: 1.8em;
}
footer i {
  font-size: 14px;
  width: 30px;
}

/*# sourceMappingURL=acceuil.css.map */
