@charset "UTF-8";
/* variables du loader */
/* largeur du bloc */
/* centre du bloc */
/* largeur d'un rond */
/* nombre de ronds */
/* La map suivante controle si dans une carte restaurant
la case "nouveau" est affichée ou non.
le numéro correspond au numéro du restaurant. */
/* variables spécifiques aux menus */
/* nombre de recette par carte */
/* durée de l'animation des cartes */
/* Durée de l'animation d'une recette */
@keyframes ROTATE {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
@keyframes POURCENT {
  0% {
    content: "0%";
  }
  1% {
    content: "1%";
  }
  2% {
    content: "2%";
  }
  3% {
    content: "3%";
  }
  4% {
    content: "4%";
  }
  5% {
    content: "5%";
  }
  6% {
    content: "6%";
  }
  7% {
    content: "7%";
  }
  8% {
    content: "8%";
  }
  9% {
    content: "9%";
  }
  10% {
    content: "10%";
  }
  11% {
    content: "11%";
  }
  12% {
    content: "12%";
  }
  13% {
    content: "13%";
  }
  14% {
    content: "14%";
  }
  15% {
    content: "15%";
  }
  16% {
    content: "16%";
  }
  17% {
    content: "17%";
  }
  18% {
    content: "18%";
  }
  19% {
    content: "19%";
  }
  20% {
    content: "20%";
  }
  21% {
    content: "21%";
  }
  22% {
    content: "22%";
  }
  23% {
    content: "23%";
  }
  24% {
    content: "24%";
  }
  25% {
    content: "25%";
  }
  26% {
    content: "26%";
  }
  27% {
    content: "27%";
  }
  28% {
    content: "28%";
  }
  29% {
    content: "29%";
  }
  30% {
    content: "30%";
  }
  31% {
    content: "31%";
  }
  32% {
    content: "32%";
  }
  33% {
    content: "33%";
  }
  34% {
    content: "34%";
  }
  35% {
    content: "35%";
  }
  36% {
    content: "36%";
  }
  37% {
    content: "37%";
  }
  38% {
    content: "38%";
  }
  39% {
    content: "39%";
  }
  40% {
    content: "40%";
  }
  41% {
    content: "41%";
  }
  42% {
    content: "42%";
  }
  43% {
    content: "43%";
  }
  44% {
    content: "44%";
  }
  45% {
    content: "45%";
  }
  46% {
    content: "46%";
  }
  47% {
    content: "47%";
  }
  48% {
    content: "48%";
  }
  49% {
    content: "49%";
  }
  50% {
    content: "50%";
  }
  51% {
    content: "51%";
  }
  52% {
    content: "52%";
  }
  53% {
    content: "53%";
  }
  54% {
    content: "54%";
  }
  55% {
    content: "55%";
  }
  56% {
    content: "56%";
  }
  57% {
    content: "57%";
  }
  58% {
    content: "58%";
  }
  59% {
    content: "59%";
  }
  60% {
    content: "60%";
  }
  61% {
    content: "61%";
  }
  62% {
    content: "62%";
  }
  63% {
    content: "63%";
  }
  64% {
    content: "64%";
  }
  65% {
    content: "65%";
  }
  66% {
    content: "66%";
  }
  67% {
    content: "67%";
  }
  68% {
    content: "68%";
  }
  69% {
    content: "69%";
  }
  70% {
    content: "70%";
  }
  71% {
    content: "71%";
  }
  72% {
    content: "72%";
  }
  73% {
    content: "73%";
  }
  74% {
    content: "74%";
  }
  75% {
    content: "75%";
  }
  76% {
    content: "76%";
  }
  77% {
    content: "77%";
  }
  78% {
    content: "78%";
  }
  79% {
    content: "79%";
  }
  80% {
    content: "80%";
  }
  81% {
    content: "81%";
  }
  82% {
    content: "82%";
  }
  83% {
    content: "83%";
  }
  84% {
    content: "84%";
  }
  85% {
    content: "85%";
  }
  86% {
    content: "86%";
  }
  87% {
    content: "87%";
  }
  88% {
    content: "88%";
  }
  89% {
    content: "89%";
  }
  90% {
    content: "90%";
  }
  91% {
    content: "91%";
  }
  92% {
    content: "92%";
  }
  93% {
    content: "93%";
  }
  94% {
    content: "94%";
  }
  95% {
    content: "95%";
  }
  96% {
    content: "96%";
  }
  97% {
    content: "97%";
  }
  98% {
    content: "98%";
  }
  99% {
    content: "99%";
  }
}
@keyframes DISPARITION {
  from {
    visibility: visible;
  }
  to {
    visibility: hidden;
  }
}
@keyframes FULLHEART {
  from {
    transform: scale(0.5);
    background-image: linear-gradient(0deg, #9356dc, #ff79da);
  }
  to {
    transform: scale(1);
    background-image: linear-gradient(0deg, #9356dc, #ff79da);
  }
}
/* Animations spécifiques aux menus */
@keyframes SELECTION {
  from {
    width: 0px;
  }
  to {
    width: 65px;
    padding: 3%;
  }
}
@keyframes ROTATION {
  from {
    transform: rotate(270deg);
  }
  to {
    transform: rotate(0deg);
  }
}
@keyframes FULLHEART2 {
  from {
    transform: scale(0.5);
    color: red;
  }
  to {
    transform: scale(1);
    color: red;
  }
}
/* Animation des cartes au chargement
Cette animation est laissée ici car contient une boucle ne
concernant pas la page d'acceuil et n'a aucun interet à
y être chargée */
@keyframes ECART_RECETTES {
  from {
    transform: translate(0, 10px);
    opacity: 0;
  }
  to {
    transform: translate(0, 0);
    opacity: 1;
  }
}
/* on va générer le css de chaque recette avec un délais
de démarrage différent */
.R_1 {
  transform: translate(0, 10px);
  opacity: 0;
  animation-delay: 233.3333333333ms;
  animation-name: ECART_RECETTES;
  animation-duration: 700ms;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

.R_2 {
  transform: translate(0, 10px);
  opacity: 0;
  animation-delay: 466.6666666667ms;
  animation-name: ECART_RECETTES;
  animation-duration: 700ms;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

.R_3 {
  transform: translate(0, 10px);
  opacity: 0;
  animation-delay: 700ms;
  animation-name: ECART_RECETTES;
  animation-duration: 700ms;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

.R_4 {
  transform: translate(0, 10px);
  opacity: 0;
  animation-delay: 933.3333333333ms;
  animation-name: ECART_RECETTES;
  animation-duration: 700ms;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

/* -------------------------------------------- */
body {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  width: 100%;
}

h1 {
  font-size: 1.7em;
}

h1, h2 {
  font-family: "Shrikhand", cursive;
}

h2 {
  font-size: 1.2em;
}

h3 {
  font-size: 1em;
  font-weight: 300;
  font-style: normal;
  margin-top: 0;
  margin-bottom: 8px;
}

/* ********************************* */
/* *********** HEADER ************** */
/* ********************************* */
header {
  padding: 5%;
  position: relative;
  text-align: center;
}
header a {
  position: absolute;
  left: 33px;
  width: 10%;
  font-size: 1.5em;
}
header h1 {
  margin: 0%;
}
@media screen and (min-width: 1024px) {
  header {
    height: 32px;
    padding: 16px;
  }
  header a {
    left: 255px;
  }
}

/* ********************************* */
/* ************** MAIN ************* */
/* ********************************* */
@media screen and (min-width: 1024px) {
  main {
    padding: 0 15%;
    background-color: #99E2D0;
  }
}

@media screen and (min-width: 1024px) {
  #MENU {
    display: flex;
    justify-content: space-around;
    background-color: #f6f6f6;
  }
}

#IMAGE {
  position: sticky;
  z-index: 1;
}
#IMAGE img {
  width: 100%;
  max-height: 256px;
  object-fit: cover;
}

#NOM {
  border: 1px solid #f6f6f6;
  background-color: #f6f6f6;
  border-radius: 25px 25px 0 0;
  margin-top: -25px;
  position: sticky;
  z-index: 2;
  padding: 0 5% 0 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#LOVE {
  width: 26px;
  height: 26px;
  position: relative;
}
#LOVE:hover > .COEUR_PLEIN {
  animation: FULLHEART2 500ms cubic-bezier(1, 0.32, 1, 1) 0s 1 normal forwards;
}
#LOVE i {
  font-size: 26px;
  position: absolute;
  top: 0;
  left: 0;
}

.COEUR_VIDE {
  color: black;
  z-index: 2;
}

.COEUR_PLEIN {
  z-index: 0;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.CARTE {
  padding-left: 3%;
  padding-right: 3%;
  background-color: #f6f6f6;
}
.CARTE_DECORATION {
  width: 40px;
  height: 14px;
  border-top: 3px solid #99E2D0;
}
.CARTE_LISTE {
  background-color: #f6f6f6;
  padding-bottom: 14px;
}
.CARTE .CARTE_LISTE_RECETTE {
  display: flex;
  justify-content: space-between;
  height: 65px;
  margin-bottom: 16px;
  background-color: white;
  border-radius: 12px 12px 12px 12px;
  box-shadow: 0px 0px 16px #cdcdcf;
}
.CARTE .CARTE_LISTE_RECETTE h4 {
  margin: 0%;
}
.CARTE .CARTE_LISTE_RECETTE:hover > .PRIX > .CHOIX {
  animation: SELECTION 400ms ease-in-out 0s 1 normal forwards;
}
.CARTE .CARTE_LISTE_RECETTE:hover > .PRIX > .CHOIX > i {
  animation: ROTATION 400ms ease-in-out 0s 1 normal forwards;
}
.CARTE .CARTE_LISTE_RECETTE .DESCRIPTIF {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  overflow: hidden;
  flex-grow: 1;
}
.CARTE .CARTE_LISTE_RECETTE .DESCRIPTIF p {
  margin-top: 0%;
  margin-bottom: 0%;
  font-weight: 300;
  font-size: 1em;
}
.CARTE .CARTE_LISTE_RECETTE .DESCRIPTIF > * {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex-grow: 1;
}
.CARTE .PRIX {
  display: flex;
}
.CARTE .PRIX .EUROS {
  height: 65px;
  padding-right: 16px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.CARTE .PRIX .EUROS p {
  margin: 0%;
  font-weight: 900;
  font-size: 0.9em;
  padding-bottom: 8px;
}
.CARTE .PRIX .CHOIX {
  display: flex;
  width: 0px;
  padding: 0%;
  border-radius: 0% 12% 12% 0%;
  background-color: #99E2D0;
  color: white;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
@media screen and (min-width: 1024px) {
  .CARTE {
    width: 25%;
  }
}

#COMMANDE {
  width: auto;
  height: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f6f6f6;
}
#COMMANDE #BOUTON {
  height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#FF79DA, #9356DC);
  color: white;
  font-weight: 400;
  padding: 16px 48px;
  border-radius: 25px;
  box-shadow: 6px 5px 15px #939191;
}
#COMMANDE #BOUTON:hover {
  background: linear-gradient(#fface8, #ae80e5);
  box-shadow: 6px 5px 15px #525151;
}

/* ********************************* */
/* ************* FOOTER ************ */
/* ********************************* */
footer {
  padding: 5%;
  background-color: #353535;
  color: white;
  line-height: 1.8em;
}
footer li {
  list-style-type: none;
}
footer i {
  font-size: 14px;
  width: 30px;
}
footer a {
  text-decoration: none;
  color: white;
}
@media screen and (min-width: 1024px) {
  footer {
    padding: 10px 287px;
  }
}

/*# sourceMappingURL=menus.css.map */
