@import "./utils/variables.scss";
@import "./utils/mixins.scss";
@import "./base/animations";

h1
    {
        font-size: 1.7em;
    }    


h1, h2
    {
        font-family: 'Shrikhand', cursive;
    }
h2
    {
        font-size: 1.2em;
    }

h3
    {
        font-size: 1.5em;
        font-weight: bold;
        font-style: normal;
        margin-top: 0;
        margin-bottom: 8px;
    }

h4
    {
        font-size: 1em;
        font-weight: 300;
        color: #353535;
    }

#BOUTON
    {
        width: fit-content;
        height: 16px;
        @include flex_centre;
        background: linear-gradient( $ROSE , $PURPLE );
        color: white;
        font-weight: 400;
        padding: 16px 25px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 25px;
        box-shadow: 6px 5px 15px #939191;
        &:hover
        {
            background: linear-gradient( lighten($ROSE, 10%) , lighten($PURPLE, 10%) );
            box-shadow: 6px 5px 15px #525151;
        }
    }
/* -------------------------------------------- */
body
    {
        font-family: 'Roboto', sans-serif;
        font-weight: 100;
        width: 100%;
    }

.ICN
    {
        width: 48px;
        height: 48px;
        @include flex_centre
    }

header
    {
        padding: 5%;
        @include flex_centre;

        h1 
        {
            margin: 0%;
        }
    }

#LIEU
    {
        background-color: #eaeaea;
        display: flex;
        font-weight: 400;
        justify-content: center;
        color: #353535;
    }    

#EXPLORER
    {
        background-color: #f6f6f6;
        height: 186px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 50px 40px;
        text-align: center;
    }
/* ****************************** */ 
/* ********** FONCTION ********** */ 
/* ****************************** */ 
#FONCTION
    {
        background-color: white;
        padding: 50px 20px;
    }

.F_LISTE
    {
        display: flex;
        flex-direction: column;
        gap: 20px;
        &_VGT
        {
            position: relative;
            display: flex;
            height: 70px;
            align-items: center;
            background-color: $GREYWHITE;
            border-radius: 25px;
            margin-left: 12px;
            padding-left: 35px;
            box-shadow: 3px 2px 21px 2px #d7d6d6;
            &:hover
            {
                background-color: #f5edff;
                & :nth-child(2)
                {color: $PURPLE;}
            }
            &_NUM
            {
                @include flex_centre;
                position: absolute;
                left: -12px;
                background-color: $PURPLE;
                color: white;
                border-radius: 25px;
                width: 24px;
                height: 24px;
                font-size: 0.9em;
                font-weight: 400;

            }
            &_ICN
            {
                width: 15px;
                font-size: 1.2em;
                color: #525151;
            }
            &_TXT
            {
                padding-left: 20px;
                font-size: 1em;
                font-weight: 700;
                font-stretch: condensed;
            }
        }
    }
/* ****************************** */ 
/* ******** RESTAURANTS ********* */ 
/* ****************************** */ 
#RESTOS
    {
        background-color: $GREYWHITE;
        padding: 50px 20px;
    }

    .RESTOS_LST_VGT
        {
            display: block;
            height: 250px;
            text-decoration: none;
            margin-top: 20px;
            margin-bottom: 20px;
            border-radius: 20px;
            box-shadow: 3px 2px 21px 2px #d7d6d6;
        }

    .RESTOS_LST_VGT_IMG
        {
            position: relative;
            &_NVU
            {position: absolute;
            top: 20px;
            right: 20px;
            background-color: $GREEN;
            padding: 6px 12px;
            color: #008766;
            font-weight: 400;
            font-size: 0.9em;
            border-radius: 2px;}
        }

    @each $RESTO,$VALUE in $MENU_NOUVEAU
        {
            .MENU
            {
                &#{$RESTO}>.RESTOS_LST_VGT_IMG>.RESTOS_LST_VGT_IMG_NVU
                {
                    display: $VALUE;
                }
            }
        }

    .RESTOS_LST_VGT_IMG img
        {
            width: 100%;
            height: 170px;
            object-fit: cover;
            border-radius: 20px 20px 0 0;
        }

    .RESTOS_LST_VGT_INF
        {   
            background-color: white;
            display: flex;
            justify-content: space-between;
            height: 76px;
            border-radius: 0 0 20px 20px;
            padding-right: 22px;
        }

    .RESTOS_LST_VGT_INF_TXT
        {
            color: black;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-left: 12px;
            &_NOM
            {
                font-weight: 700;
                padding-bottom: 2px;
                font-size: 1.1em;
            }
            &_VIL
            {
                font-weight: 300;
                padding-top: 2px;
            }
        }


    .RESTOS_LST_VGT_INF_COEUR
        {
        @include flex_centre;
        &_ICN
            {
                width: $COEUR_DIMENSION;
                height: $COEUR_DIMENSION;
                position: relative;
                &:hover>.COEUR_PLEIN
                {
                    animation: FULLHEART 500ms cubic-bezier(1, 0.32, 1, 1) 0s 1 normal forwards;

                }

                i
                {
                    font-size: $COEUR_DIMENSION;
                    position: absolute;
                    top: 0;
                    left: 0; 

                }
            }

            .COEUR_VIDE 
            {
            color: black;
            z-index: 2;
            }
            .COEUR_PLEIN 
            {
            z-index: 0;
            background-clip: text;
            -webkit-background-clip:text;
            color: transparent;


            }
        }
/* ********************************* */
/* ************* FOOTER ************ */
/* ********************************* */
footer
    {
        padding: 5%;
        background-color: $GREY;
        color: white;
        line-height: 1.8em;

        i 
        {
            font-size: 14px;
            width: 30px;
        }
    }

/* ********************************* */ 
/* ************* LOADER ************ */ 
/* ********************************* */ 
.LOADER
    {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        animation-name: DISPARITION;
        animation-duration: $LOADER_DUREE;
        animation-timing-function: linear;
        animation-direction: normal;
        animation-fill-mode: forwards;
        &_ANIM
            {
                width: $LOADER_DIMENSION;
                height: $LOADER_DIMENSION;
                background-color: #cea4ff;
                border: 5px solid #ead7ff;
                border-radius: 50%;
                position: relative;
                div       /* on sélectionne toutes les div inférieures */
                    {
                        display: block;
                        width: $LOADER_ROND;
                        height: $LOADER_ROND;
                        position: absolute;
                        left: $LOADER_ROND_CENTRE;
                        top: 0;
                        border-radius: 50%;
                        border: 1px solid black;
                        /* durée | timing-function | delay | name */
                        animation-name: ROTATE;
                        animation-duration: 1s;
                        animation-timing-function: cubic-bezier(0.5, 0, 0.5, 1);
                        animation-iteration-count: 6;
                        transform-origin: $LOADER_ROND_DEMI $LOADER_CENTRE;
                    }
                /* génération des delay pour chaque rond */
                @for $i from 1 to $LOADER_NMR_ROND+1 
                    {
                        & div:nth-child(#{$i})
                        {
                            animation-delay: $i*100ms;
                            background-color: rgb($i*40, 128, $i*30);
                        }
                    }
            }
    .COMPTEUR
        {
            position: absolute;

            color: white;
            font-size: 2.4em;
            font-weight: 700;
            width: 100px;
            height: 100px;
            @include flex_centre;
            & div::after
            {
                    animation-name: POURCENT;
                    animation-duration: $LOADER_DUREE;
                    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
                    animation-direction: normal;
                    animation-fill-mode: forwards;
                    content: "0%";
            }
                
        }
    }