@import "./utils/variables.scss";
@import "./utils/mixins.scss";
@import "./base/animations";






/* Animation des cartes au chargement
Cette animation est laissée ici car contient une boucle ne
concernant pas la page d'acceuil et n'a aucun interet à
y être chargée */
@keyframes ECART_RECETTES 
    {
        from 
        {transform: translate(0, 10px);
        opacity: 0;}
        to 
        {transform: translate(0,0);
        opacity: 1;}
    }

/* on va générer le css de chaque recette avec un délais
de démarrage différent */ 
@for $i from 1 through 4
    {
        .R_#{$i}
        {
            transform: translate(0,10px);
            opacity: 0;
            animation-delay: $RECETTE_ANIM * $i;
            animation-name: ECART_RECETTES;
            animation-duration: $CARTE_ANIM;
            animation-fill-mode: forwards;
            animation-timing-function:ease-in-out;
        }

    }

/* -------------------------------------------- */
body
    {
        font-family: 'Roboto', sans-serif;
        font-weight: 100;
        width: 100%;
    }

h1
    {
        font-size: 1.7em;
    }    


h1, h2
    {
        font-family: 'Shrikhand', cursive;
    }
h2
    {
        font-size: 1.2em;
    }

h3
    {
        font-size: 1em;
        font-weight: 300;
        font-style: normal;
        margin-top: 0;
        margin-bottom: 8px;
    }
/* ********************************* */ 
/* *********** HEADER ************** */ 
/* ********************************* */ 
@import "./layout/header";
/* ********************************* */
/* ************** MAIN ************* */
/* ********************************* */
main 
{
@media screen and (min-width: 1024px)
    {
        padding: 0 15%;
        background-color: $GREEN;
    }
}

#MENU
    {
        @media screen and (min-width: 1024px)
            {
                display: flex;
                justify-content: space-around;
                background-color: $GREYWHITE;
            }
    }

#IMAGE 
    {
        position: sticky;
        z-index: 1;
        img
        {
            width: 100%;
            max-height: 256px;
            object-fit: cover;
        }
    }
#NOM
    {
        border: 1px solid $GREYWHITE;
        background-color: $GREYWHITE;
        border-radius: 25px 25px 0 0;
        margin-top: -25px;
        position: sticky;
        z-index: 2;
        padding: 0 5% 0 5%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
#LOVE
    {
        width: $COEUR_DIMENSION;
        height: $COEUR_DIMENSION;
        position: relative;
        &:hover>.COEUR_PLEIN
        {
            animation: FULLHEART2 500ms cubic-bezier(1, 0.32, 1, 1) 0s 1 normal forwards;

        }

        i
        {
            font-size: $COEUR_DIMENSION;
            position: absolute;
            top: 0;
            left: 0; 

        }
    }
    
.COEUR_VIDE 
    {
    color: black;
    z-index: 2;
    }
.COEUR_PLEIN 
    {
    z-index: 0;
    background-clip: text;
    -webkit-background-clip:text;
    color: transparent;


    }

.CARTE
    {
        padding-left: 3%;
        padding-right: 3%;
        background-color: $GREYWHITE;

        &_DECORATION
            {width: 40px; height: 14px; border-top: 3px solid $GREEN;}
        
        &_LISTE {background-color: $GREYWHITE; padding-bottom: 14px;}


        .CARTE_LISTE_RECETTE 
            {
                display: flex;
                justify-content: space-between;
                height: 65px;
                margin-bottom: 16px;
                background-color: white;
                border-radius: 12px 12px 12px 12px;
                box-shadow: 0px 0px 16px #cdcdcf;
                h4 
                {
                    margin: 0%;
                }
                &:hover > .PRIX > .CHOIX
                {animation: SELECTION 400ms ease-in-out 0s 1 normal forwards;}
                &:hover > .PRIX > .CHOIX > i
                {animation: ROTATION 400ms ease-in-out 0s 1 normal forwards;}
                .DESCRIPTIF
                {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    padding: 10px;
                    overflow: hidden;
                    flex-grow:1;
                    p 
                    {
                    margin-top: 0%;
                    margin-bottom: 0%;
                    font-weight: 300;
                    font-size: 1em;
                    }
                }
                .DESCRIPTIF > *
                {
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    flex-grow: 1;
                }


                }
            .PRIX
                {
                    display: flex;
                    .EUROS 
                        {
                            height: 65px;
                            padding-right: 16px;
                            display: flex;
                            align-items: flex-end;
                            justify-content: center;
                            p 
                            {
                                margin: 0%;
                                font-weight: 900;
                                font-size: 0.9em;
                                padding-bottom: 8px}
                        };
                    .CHOIX
                        {                        
                            display: flex;
                            width: 0px;
                            padding: 0%;
                            border-radius: 0% 12% 12% 0%;
                            background-color: $GREEN;
                            color: white;
                            justify-content: center;
                            align-items: center;
                            overflow: hidden;
                            
                        }
            }
    @media screen and (min-width: 1024px)
    {width: 25%;}
    }

#COMMANDE
    {
        width: auto;
        height: 160px;
        @include flex_centre;
        background-color: $GREYWHITE;
        #BOUTON
            {
                height: 16px;
                @include flex_centre;
                background: linear-gradient( $ROSE , $PURPLE );
                color: white;
                font-weight: 400;
                padding: 16px 48px;
                border-radius: 25px;
                box-shadow: 6px 5px 15px #939191;
                &:hover
                {
                    background: linear-gradient( lighten($ROSE, 10%) , lighten($PURPLE, 10%) );
                    box-shadow: 6px 5px 15px #525151;
                }
            }
    }
/* ********************************* */
/* ************* FOOTER ************ */
/* ********************************* */
@import "./layout/footer.scss";