$PURPLE: #9356DC;
$ROSE: #FF79DA;
$GREEN: #99E2D0;
$GREY: #353535;
$GREYWHITE: #f6f6f6;

@keyframes SELECTION 
    {
        from 
        { width: 0px; }
        to 
        { width: 65px; padding: 3%;}
    }

@keyframes ROTATION 
    {
        from 
        { transform: rotate(180deg);}    
        to 
        { transform: rotate(0deg);}    
    }

body
    {
        font-family: 'Roboto', sans-serif;
        font-weight: 100;
        width: 100%;
        ul 
        {
            list-style: none;
            text-align: left;
            padding-left: 0;
        }
    }

h1
    {
        font-size: 1.7em;
    }    


h1, h2
    {
        font-family: 'Shrikhand', cursive;
    }
h2
    {
        font-size: 1.2em;
    }

h3
    {
        font-size: 1em;
        font-weight: 300;
        font-style: normal;
        margin-top: 0;
        margin-bottom: 8px;
    }



header
    {
        padding: 5%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        i , .space
        {
            width: 10%;
            font-size: 1.5em;
        }
        h1 
        {
            margin: 0%;
        }
    }
/* ********************************* */
/* ************** MAIN ************* */
/* ********************************* */
#IMAGE 
    {
        position: sticky;
        z-index: 1;
        img
        {
            width: 100%;
        }
    }
#NOM
    {
        border: 1px solid $GREYWHITE;
        background-color: $GREYWHITE;
        border-radius: 25px 25px 0 0;
        margin-top: -25px;
        position: sticky;
        z-index: 2;
        padding: 0 5% 0 5%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        i 
            {
                font-size: 26px;
            }
    }

.CARTE
    {
        padding-left: 3%;
        padding-right: 3%;
        background-color: $GREYWHITE;

        .CARTE_DECORATION
            {width: 40px; height: 14px; border-top: 3px solid $GREEN;}
        
        .LISTE_RECETTES {background-color: $GREYWHITE; padding-bottom: 14px;}

        .RECETTE 
            {
                display: flex;
                justify-content: space-between;
                height: 65px;
                margin-bottom: 16px;
                background-color: white;
                border-radius: 12px 12px 12px 12px;
                box-shadow: 0px 0px 16px #cdcdcf;
                h4 
                {
                    margin: 0%;
                }
                &:hover > .PRIX > .CHOIX
                {animation: SELECTION 300ms ease-in-out 0s 1 normal forwards;}
                &:hover > .PRIX > .CHOIX > i
                {animation: ROTATION 300ms ease-in-out 0s 1 normal forwards;}
                .DESCRIPTIF
                {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    padding: 10px;
                    overflow: hidden;
                    flex-grow:1;
                    p 
                    {
                    margin-top: 0%;
                    margin-bottom: 0%;
                    font-weight: 300;
                    font-size: 1em;
                    }
                }
                .DESCRIPTIF > *
                {
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    flex-grow: 1;
                }

                }
            .PRIX
                {
                    display: flex;
                    .EUROS 
                        {
                            height: 65px;
                            padding-right: 16px;
                            display: flex;
                            align-items: flex-end;
                            justify-content: center;
                            p 
                            {
                                margin: 0%;
                                font-weight: 900;
                                font-size: 0.9em;
                                padding-bottom: 8px}
                        };
                    .CHOIX
                        {                        
                            display: flex;
                            width: 0px;
                            padding: 0%;
                            border-radius: 0% 12% 12% 0%;
                            background-color: $GREEN;
                            color: white;
                            justify-content: center;
                            align-items: center;
                            overflow: hidden;
                            
                        }
            }
    }
/* ********************************* */
/* ************* FOOTER ************ */
/* ********************************* */
footer
    {
        padding: 5%;
        background-color: $GREY;
        color: white;
        line-height: 1.8em;

        i 
        {
            font-size: 14px;
            width: 30px;
        }
    }