header
    {
        padding: 5%;
        position: relative;
        text-align: center;
        a
        {
            position: absolute;
            left: 33px;
            width: 10%;
            font-size: 1.5em;
        }
        h1 
        {
            margin: 0%;
        }
        @media screen and (min-width: 1024px)
        {      
            height: 32px;
            padding: 16px;
            a {left: 255px;}   
        }
    }